---
const {
  id = "not-set",
  title = "Project not-set",
  desc = "not set",
  img = null,
  imgAlt = title,
  overlayColor = null,
} = Astro.props;
const marqueeText = `${title} — ${title} — ${title} — ${title} — ${title} — ${title}`;
---

<article
  itemscope
  itemtype="https://schema.org/CreativeWork"
  class="project-card"
>
  {
    img && (
      <div class="relative mb-4 rounded-xs overflow-hidden">
        <img src={img} alt={imgAlt} itemprop="image" class="block w-full" />

        {overlayColor && (
          <div
            class="project-overlay absolute inset-0 opacity-0 group-hover:opacity-90 transition-opacity duration-300 flex items-center overflow-hidden"
            style={`background-color: ${overlayColor}`}
          >
            <div class="project-marquee w-full">
              <div class="project-marquee__inner text-6xl">{marqueeText}</div>
            </div>
          </div>
        )}
      </div>
    )
  }

  <h1 id={`project-${id}`} itemprop="headline" class="text-lg uppercase">
    {title}
  </h1>

  <p
    id={`project-${id}-desc`}
    itemprop="description"
    class="text-sm -mt-1 text-sg-secondary"
  >
    {desc}
  </p>
</article>
